@import '../../styles/variables';

.cart-content {
    color: $light;
    text-align: center;
    position: relative;
    margin-top: 150px;

    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    h1 {
        margin: 50px auto 100px auto;
        font-size: 40px;
        text-align: center;
    }
    .cart-product-card {
        margin: 20px auto;
        box-shadow: 10px 10px 30px #000000;
        border-radius: 15px;
        height: 230px;
        position: relative;
        align-items: center;
        width: 90%;

        padding: 20px;
        border-bottom: 2px solid #737272;
        border-right: 2px solid #737272;
        overflow: hidden;
        position: relative;
        .img {
            width: 100px;
            height: 100px;

            padding: 5px;
            margin: 0 auto;
            img {
            }
        }

        .counter {
            position: absolute;
            bottom: 0;
            left: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            font-size: 20px;
            margin: 30px 0;

            .plus {
                color: #2a942a;
            }
            .minus {
                color: #ea5e5e;
            }
            b {
                font-size: 25px;
                font-weight: bold;
                margin: 0 10px;
            }
            .plus,
            .minus {
                cursor: pointer;
                width: 20px;
                height: 20px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: #484848;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
        }

        .cost {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px;
            span {
                font-weight: bold;
                font-size: 24px;
            }
        }
        .remove {
            cursor: pointer;
            width: 30px;
            height: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 30px;
            font-weight: bold;
        }
    }
    p {
        text-align: center;
        min-width: 150px;
        margin: 20px auto;
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 0;
        padding: 20px 50px;
        background: #484848;
        border-radius: 20px;
        cursor: pointer;
    }
    .checkout {
        text-align: center;
        margin: 50px auto;
        font-size: 20px;
        width: 50%;
        padding: 20px 50px;
        background: #484848;
        border-radius: 20px;
        cursor: pointer;
    }
    .nobody {
        text-align: center;
        width: 300%;
    }
}
