@import '../../../styles/variables';

.burger-menu-page{
  margin-top: 150px;
  h1{
    font-size: 50px;
    text-align: center;
  }
  .burgers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 100px;
    position: relative;
    .roll{
      position: absolute;
      top: 100px;
      width: 100%;
      img{
        width: 100px;
      }
    }
  }
}