@import url('normalize.css');
@import 'variables';

body {
    font-family: $font;
    background: $dark;
    color: $light;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}
a{
    color: white;
    text-decoration: none;
}